{{> inav }}
<div class="container">
<table class="table table-hover table-inverse table-responsive ">
    <thead class="thead-inverse">
        <tr>
            <th>Name</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Details</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            {{#listings}}
            <tr>
                <td scope="row">{{name}}</td>
                <td>{{mobile}}</td>
                <td>{{address}}</td>
                <td>
                    <!-- Button trigger modal -->
                    <button 
                    class="btn-dark" 
                        data-toggle="modal" 
                        data-target="#moreData" 
                        data-name="{{name}}" 
                        data-email="{{email}}"
                        data-address="{{address}}" 
                        data-mobile="{{mobile}}" 
                        data-dob="{{dob}}" 
                        data-aadhar="{{aadhar}}"
                        data-pincode="{{pincode}}"
                        data-pub_key="{{pub_key}}"
                        >More</button>
                </td>
                <td>
                    <button class="btn-success" onclick="putStatus(event,'{{pincode}}','{{pub_key}}',1)" >Accept</button>
                    <button class="btn-danger" onclick="putStatus(event,'{{pincode}}','{{pub_key}}',0)" >Reject</button>
                </td>
            </tr>
            {{/listings}}

        </tbody>
</table>
</div>
{{> footer }}
  
   
   <!-- Modal -->
   <div class="modal fade" id="moreData" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
       <div class="modal-dialog" role="document">
           <div class="modal-content">
                   <div class="modal-header">
                           <h5 class="modal-title">User Details</h5>
                               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                               </button>
                       </div>
               <div class="modal-body">
                   <div class="container-fluid">
                       Name : <p id="name"></p>
                       Email : <p id="email"></p>
                       Date of Birth : <p id="dob"></p>
                       Address : <p id="address"></p>
                       Mobile : <p id="mobile"></p>
                       Pincode : <p id="pincode"></p>
                       Aadhar Id : <p id="aadhar"></p>
                       Public Key : <p id="pub_key"></p>
                   </div>
               </div>
               <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   <button id="accept" class="btn-success" >Accept</button>
                    <button id="reject" class="btn-danger">Reject</button>
               </div>
           </div>
       </div>
   </div>
   
   <script>moreData
       $('#moreData').on('show.bs.modal', event => {
           const button = $(event.relatedTarget);
           $('#name').text(button[0].dataset.name);
           $('#email').text(button[0].dataset.email);
           $('#dob').text(button[0].dataset.dob);
           $('#address').text(button[0].dataset.address);
           $('#mobile').text(button[0].dataset.mobile);
           $('#pincode').text(button[0].dataset.pincode);
           $('#aadhar').text(button[0].dataset.aadhar);
           $('#pub_key').text(button[0].dataset.pub_key);
           $("#accept").attr("onclick", "putStatus(event,'"+button[0].dataset.pincode+"','"+button[0].dataset.pub_key+"',1)");
           $("#reject").attr("onclick", "putStatus(event,'"+button[0].dataset.pincode+"','"+button[0].dataset.pub_key+"',0)");
           // Use above variables to manipulate the DOM
           
       });
   </script>