{{> inav }}
<div class="container">
<table class="table table-hover table-inverse table-responsive ">
    <thead class="thead-inverse">
        <tr>
            <th>Name</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Details</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            {{#listings}}
            <tr>
                <td scope="row">{{name}}</td>
                <td>{{mobile}}</td>
                <td>{{address}}</td>
                <td>
                    <button class="btn-dark" data-toggle="modal" data-target="#moreData" onclick="modelOpen(event,{{@index}})">More</button>
                </td>
                <td>
                    <button class="btn-success" onclick="putStatus(event,'{{@index}}',1)" >Accept</button>
                    <button class="btn-danger"onclick="putStatus(event,'{{@index}}',0)" >Reject</button>
                </td>
            </tr>
            {{/listings}}

        </tbody>
</table>
</div>
{{> footer }}
   